body{
  margin: 0px;
  padding: 0px;
}

.index{
  position: fixed;
  top:40%;
  left: 43%;
  z-index: 1;
  animation-name: example;
  animation-duration: 4s;
}
 
@keyframes example {
  from {top: 0px; background-color: white;}
  to {top: 40%;}
}
.text-center{
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.scrol-item{
  position: fixed;
  right: 40px;
  bottom: 20px;
  width:70px;
  height: 70px;
  background-color: green;
  border-radius: 50%;

}



